# Stack

- TypeScript,
- Svelte 5 (with Runes),
- SvelteKit 2,
- Tailwind v4,
- Skeleton v3 (https://next.skeleton.dev/),
- Convex (Convex Ents)

Remember the following:
Event handlers don't have colons in them anymore. on:click => onclick

# General Code Style & Formatting

- Always declare the type of each variable and function (parameters and return value).
- Avoid using any.
- Create necessary types.
- Use JSDoc to document public classes and methods.

# Convex

- Prioritize always the usage of convex Ents over the built-in Convex API (ctx.table over ctx.db).
- Follow the convex rules ai_rules/convex_rules.txt
- Follow the convex Ents rules ai_rules/convex-ents.md.txt
