@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@import 'tw-animate-css';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@import '../../authapptheme.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte';

@theme {
	--animate-fade-in-out: fade-in-out 0.3s ease-in-out;

	@keyframes fade-in-out {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	/* Shadcn */
	--color-popover: var(--color-surface-200-800);
	--color-popover-foreground: var(--color-surface-950-50);

	--color-muted-foreground: var(--color-surface-700-300);

	--color-border: var(--color-surface-400-600);

	--color-accent: var(--color-primary-600-400);
	--color-accent-foreground: var(--color-surface-950-50);
}

@utility input {
	@apply border-surface-400-600 placeholder:text-surface-500 hover:border-surface-500 text-surface-950-50 w-full border duration-300 ease-in-out;
}
@utility textarea {
	@apply border-surface-400-600 placeholder:text-surface-500 hover:border-surface-500 text-surface-950-50 w-full border duration-300 ease-in-out;
}

@utility select {
	@apply border-surface-400-600 placeholder:text-surface-500 hover:border-surface-500 text-surface-950-50 w-full border px-2 duration-300 ease-in-out;
}

@utility label {
	@apply mb-1 text-xs font-medium;
}
